@import url(http://fonts.googleapis.com/css?family=Antic+Slab);

.main-container{
	padding: 3%;
}

h1 {
  font-family: 'Antic Slab', serif;
  font-size:80px;
  color:#DDCCEE;
}

.container-full a {
  color:#efefef;
  text-decoration:none;
}

.pg-title{
	padding: 2%;
}
.pull-right{
	float:right;
}