
.main-container{
	padding: 3%;
}

h1 {
  font-family: 'Antic Slab', serif;
  font-size:80px;
  color:#DDCCEE;
}

.container-full a {
  color:#efefef;
  text-decoration:none;
}

.pg-title{
	padding: 2%;
}
.pull-right{
	float:right;
}
#shit{
	display: -webkit-flex !important;
  	display: none !important;
  	flex-direction: row !important;
  	-webkit-flex-direction: row !important;
}
.flex-input{
	-webkit-flex: 1;
	flex:1;
}

body{
	background-color: #00ff00;
}